---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
// @ts-ignore

const features = [
  {
    title: "Project pages with goals, timelines, and impact",
    description:
      "Researchers can create detailed project pages to share their goals, timelines, and impact with alumni",
    icon: "fluent:document-bullet-list-20-filled",
  },
  {
    title: "Highlight urgency or time-sensitive needs",
    description:
      "Researchers can highlight urgent needs or time-sensitive projects to attract alumni support",
    icon: "fluent:eye-hide-20-filled",
  },
  {
    title: "Connect with alumni who care",
    description:
      "Researchers can connect with alumni who are passionate about their work and want to support them",
    icon: "fluent:people-community-20-filled",
  },
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:text-center">
    <h2 class="text-base font-semibold leading-7 text-black">
      For Researchers
    </h2>
    <p
      class="mt-2 text-3xl font-bold tracking-tight text-black"
      style="font-family: 'Young Serif';">
      Your work deserves to be seen and supported
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-900">
      Post your project, share your goals, and engage with alumni who care.
      Provide updates, raise funds, and find champions beyond grant committees
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
      {
        features.map((item) => (
          <div class="flex flex-col">
            <div class="mt-1 bg-blue-50 border shadow shadow-blue-100/50 border-blue-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
              <Icon class="text-primary" name={item.icon} />
            </div>
            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black">
              {item.title}
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900">
              <p class="flex-auto">{item.description}</p>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
